body {
    font-size: 16px;
    box-sizing: border-box;
    color: black;
    overflow-x: hidden;
    position: relative;
    text-align: right;
    direction: rtl;
    font-family: avenir-Regular;
    background-color: #f9fafc;
}

@font-face {
    font-family: avenir-heavy;
    src: url("../fonts/Avenir\ Heavy.ttf");
}

@font-face {
    font-family: gulf-medium;
    src: url("../fonts/ArbFONTS-Gulf-medium.ttf");
}

@font-face {
    font-family: avenir-black;
    src: url("../fonts/Avenir\ Black.ttf");
}

@font-face {
    font-family: avenir-Regular;
    src: url("../fonts/Avenir\ Regular.ttf");
}

@font-face {
    font-family: avenir-medium;
    src: url("../fonts/Avenir\ Medium.ttf");
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

h4,
h5 {
    font-family: avenir-medium;
}

h6 {
    font-family: avenir-heavy;
}
h2{
    font-family: avenir-black;
}

a {
    color: inherit
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

header {
    padding-bottom: 10px;
    background-color: white;
}

.topHeaderContact li {
    display: inline-block;
    padding: 0 10px;
    color: black;
    font-size: 1em;
}

.topHeaderContact li a {
    color: black;

}

.topHeaderContact li:last-child {
    border-right: 1px solid #000000;
}

.topHeaderContact li i {
    color: #be2318
}

.topHeaderContact li:hover a {
    color: #be2318
}

.topHeader {
    padding: 20px 0;
    border-bottom: 1px solid #e8eaeb;
}

.socialIcons li {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.socialIcons li a {
    display: flex;
    display: flex;
    align-self: center;
}

.topSocialIcons li {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    ;
    background-color: #ebebeb;
    PADDING: 8px;
    margin-left: 5px;
}

.topSocialIcons li:hover a {
    color: #be2318;
    transition: all .5s;
    ;
}

.topSocialIcons li:last-child {
    margin-left: 0
}

.topSocialIcons li a {
    color: #a7a7a7;
    transition: all .5s;
    ;
}

.navbar {
    padding: 0
}

.navbar-collapse .nav-item {
    margin-left: 40px
}

.navbar-collapse .nav-item .nav-link {
    font-size: 1em;
    color: black;
    ;
    position: relative;
    font-family: avenir-heavy;

}

.navbar-collapse .nav-item .nav-link:before {
    position: absolute;
    content: "";
    width: 0;
    margin: auto;
    background-color: #be2318;
    height: 2px;
    transition: all .5s;
    ;
    bottom: -5px;
    right: 20%
}

.navbar-collapse .nav-item.active .nav-link:before {
    width: 60%;
    transition: all .5s;
    ;
}

.logo {
    width: 148px;
    margin-right: 0;
    margin-left: 50px;
}

.main-menuDropdown {
    background-color: white;
    text-align: right;
    box-shadow: 3px 5px 13px rgba(0, 0, 0, .16);
    border: 0;
    top: 152%;
    right: 0;
    left: auto;
    max-width: 188px;
    left: auto
}

.main-menuDropdown .nav-link {
    font-family: avenir-medium;
    color: #616161;
    font-size: 0.75em;
    padding: 24px;
}

.main-menuDropdown .dropdown-item:hover {
    background-color: rgba(190, 35, 24, .05);
    color: #be2318
}

.heroSection {
    background-image: url("../images/Background.png");
    padding: 200px 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroSection:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    TOP: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.heroText {
    background-color: #be2318;
    border: 4px dashed white;
    width: 100%;
    color: white;
    padding: 54px 70px;
    border-radius: 40px;
    text-align: center;
}

.heroText h1 {
    font-family: avenir-black;
    font-size: 3em;
    margin-bottom: 45px;
}

.herotext p {
    font-size: 1.125em;
    color: white
}

.sectionTitle {
    margin-bottom: 30px;
    text-align: center;
}

.stepsSection {
    padding: 68px 0;
    background-color: white;
}

.sectionTitle h4 {
    font-size: 1.5em;
}

.stepBox {
    width: 200px;
    background-color: #e9ecf4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 200px;
}

.stepsContent {
    align-self: center;
    justify-content: center;
    text-align: center;
}

.stepImg {
    max-width: 70px;

    margin: auto;
    margin-bottom: 20px;
}

.stepsContent h4 {
    font-size: 1.125em;
}

.mealListSection {
    background-color: #f9fafc;
    padding-top: 55px;
    padding-bottom: 65px;
}

.categSec {
    background-color: white;
    padding: 30px 15px;
    border-radius: 20px;
    box-shadow: 13px 7px 57px rgba(216, 216, 216, .23);
}

.categSec h6 {
    font-size: 1.25em;
    text-align: center;
    border: 2px dashed #be2318;
    border-radius: 20px;
    padding: 5px 0;
    margin-bottom: 20px;
}

.categList {
    margin-bottom: 30px;
}

.categList li {
    border-radius: 17px;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 5px 10px;
    transition: all .3s
}

.categList li h4 {
    font-size: 1em;

}

.categList li:hover {
    background-color: #808387;
    transition: all .3s;
}

.categList li:hover a {
    color: white;
    transition: all .3s;
}

/* Customize the label (the container) */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 30px;
}

/* Hide the browser's default checkbox */
.checkboxContainer input,.paywayCheckContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background-color: #ebebeb;
}
/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked~.checkmark {
    background-color: #be2318;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxContainer h4 {
    font-size: 1em;
    margin-right: 35px
}

.price {
    font-family: avenir-heavy;
    color: #be2318;
    font-size: 1.125em;
    float: right;
}

.categName {
    font-size: .875em;
    background-color: #ebebeb;
    float: left;
    padding: 2px 5px;
    border-radius: 11px;
}

.categBox {
    border: 0;
    border-radius: 20px;
    height: 270px;
    overflow: hidden;
    margin-bottom: 21px;
    box-shadow: 13px 7px 57px rgba(216, 216, 216, .23);

}

.categBox .card-title {
    font-size: 1.125em;
    color: #3b3b3b;
    margin-top: 15px
}

.categBox .card-body {
    padding: 15px;

}

.cardImg {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    position: relative;
    height: 230px;
    overflow: hidden;
}

.cardImg img {
    height: 100%;
    width: inherit;
    object-fit: cover;
}

.cardImgOverlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
    transition: all .5;
    justify-content: center;
}

.categBox:hover .cardImgOverlay {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    transition: all .5;

}

.cardImg a,.reqBtn,.backBtn {
    width: 132px;
    height: 49px;
    background-color: #be2318;
    color: white;
    font-size: 1em;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
    bordeR:1px solid #be2318;
}

.cardImg a span {
    align-self: center;
}

.categPagination {
    justify-content: center;
    width: 100%;
}

.categPagination {
    margin-top: 15px
}

.categPagination .page-item {
    border-radius: 8px;
    background-color: white;
    box-shadow: 5px 0 15px rgba(148, 148, 168, .1);
    margin-left: 10px;
    border: 0;
    overflow: hidden;
}

.page-link {
    border: 0;
    border-radius: 8px;
    font-size: 1.125em;
    color: #838993
}

.categPagination .page-item.active .page-link {
    background-color: #be2318;
    color: white;

}

.clientsOpinions {
    padding: 75px 0;
    background-color: white;;
}

.clientBox {
    border: 3px dashed #d7d7d7;
    border-radius: 30px;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    width: 740px;
    margin: auto;
    text-align: center;
}

.clientImg {
    position: absolute;
    top: -57px;
    left: 43%;
    width: 106px;
    height: 106px;
    overflow: hidden;
    border-radius: 50%;
}

.clientsOpinionSlider .owl-stage-outer {
    padding-top: 70px
}

.clientBox h4 {
    font-size: 1.375em;
    margin-bottom: 10px;
    color: #2a2a2a;
}

.clientBox span {
    font-size: .875em;
    color: #be2318;
    margin-bottom: 20px;
    display: block;

}

.clientBox h5 {
    color: #9b9b9b;
    font-size: 1em;
    line-height: 1.5;
}

.clientsOpinionSlider .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0%;
}

.clientsOpinionSlider .owl-nav button {
    position: absolute;
    right: 0;
}

.clientsOpinionSlider .owl-nav button {
    font-size: 32px !important;
    color: #2a2a2a !important;
}

.clientsOpinionSlider .owl-nav button:hover {
    color: #be2318 !important
}

.clientsOpinionSlider .owl-nav button.owl-next {
    left: 0;
    right: auto;
}

.connectSec {
    padding: 50px 0;
    position: relative;

    background-color: #000
}

.connectSec:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/connectBg.png");
    background-size: cover;
    background-position: center;
    opacity: .2;
    top: 0;
    left: 0
}

.connectSecText h6 {
    color: white;
    font-size: 1.625em;
    margin-bottom: 15px;
}

.connectSecText span h6 {
    font-size: 1.125em;
    color: white;
    margin-bottom: 0;
}

.connectBtn {
    float: left;
    background-color: white;
    ;
    width: 208px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.125em;
    justify-content: center;
    font-family: avenir-medium;
    align-self: center;
}

.connectBtnContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 0;
    transition: all .5s;
    ;
}

.btn:hover {
    transition: all .5s;
    ;
}

.btn span {
    align-self: center;
}

.connectBtn:hover {
    background-color: #be2318;
    color: white;
}

.contactUsMain {
    position: relative;
    height: 650px;
    z-index: 2;
}

.contactUsMain .googlemap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contactUsMain .googlemap object {
    width: 100%;
    height: 100%;
}

.contactFormBox {
    background-color: white;
    width: 100%;
    border-radius: 25px;
    padding: 30px 42px;
    margin-top: 300px;
    text-align: center;
    z-index: 2;
}

.contactForm .form-control {
    border: 1px solid #ebebeb;
    border-radius: 15px;
    height: 52px;
}

.contactForm h4 {
    color: #be2318;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 20px
}

.contactForm .form-control::placeholder {
    font-size: .875em;
    color: #a2a2a2;
}

.contactForm .textareacontrol {
    resize: none;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 130px;
}

.sendContactBtn {
    width: 117px;
    height: 44px;
    background-color: #be2318;
    font-size: .875em;
    color: white;
    border-radius: 22px;
    border: 1px solid #be2318;
    margin: auto;

}

.sendContactBtn i {
    margin-right: 5px;
    align-self: center;
}

.sendContactBtn:hover {
    background-color: white;
    color: #be2318
}

.footer {
    background-color: #090b21;
    padding-top: 102px;
    position: relative;
    padding-bottom: 25px;
    z-index: 1;
}

.footer::before {
    background-image: url("../images/footer.png");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    width: 100%;
    height: 100%;
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footerLogo {
    width: 210px;
    margin-bottom: 20px;
}

.footerDetails {
    color: white;
    font-size: .875em
}

.footerList h4 {
    font-size: 1.25em;
    color: white;
    margin-bottom: 20px;
}

.footerList li {
    margin-bottom: 18px;
}

.footerDetails {
    margin-top: 40px
}

.footerList li a {
    font-size: 1em;
    color: white;
}

.footerList li span {
    font-size: .875em;
    color: white;
}

.footerList li i {
    color: white;
    margin-left: 10px;
    float: right;
    font-size: .75em;
}

.footerList li span {
    float: right;
}

.copyRights {
    margin-top: 33px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.copyRights p {
    font-size: .875em;
    color: white;
    font-family: gulf-medium;
    float: right;
}

.footerSocialIcons {
    float: left;
}

.footerSocialIcons li {
    display: inline-block;
    color: white;
    margin-right: 20px
}

.footerSocialIcons li:first-child {
    margin-right: 0;
}

.footerSocialIcons li a {
    color: white;
}

.footerSocialIcons li:hover a {
    color: #be2318
}

.myListBtn {
    background-color: #be2318;
    color: white;
    width: 154px;
    height: 41px;
    font-family: avenir-medium;
    border-radius: 20px;
    border: 1px solid #be2318
}

.myListBtn:hover {
    background-color: white;
    color: #be2318;
}

.rangSlider {
    margin-bottom: 50px;
    margin-top:25px;
}

#slider {
    width: 100%;
    height: 5px;
    background-color: #e1e1e1;
    direction: rtl !important;
    text-align: right !important;
}

.ui-slider-horizontal .ui-slider-range {
    background-color: #cfcfcf !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background-color: #808387 !important;
    width: 15px !important;
    height: 15px !important;
    border: 0 !important;
    border-radius: 50% !important
}

#min,
#max {
    color: #be2318;
    font-size: 0.75em;
    font-family: avenir-heavy;
    top: -34px !important;
    text-align: center;
    display: inline-block;
}
.innerHeader{
    position: relative;
    background-color: #050505;
    padding:45px 0;
    text-align: center;
    color: white;
}
.innerHeader:before{
    content: "";
    position: absolute;
    background-image: url("../images/Background.png");
    opacity: .2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.innerHeader h2{
    font-size: 2.375em;
    margin-bottom: 15px;
}
.categpagBody{
    padding-top:50px;
    padding-bottom: 65px;
    background-color: #f9fafc;
}
.categItemBox{
    background-color: white;
    border-radius: 20px;;
    margin-bottom: 45px;
    padding:20px;
    height: 500px;
    border:0;
    box-shadow: 13px 7px 57px rgba(216, 216, 216, .23);
display: block;
margin-bottom: 70px;
}
.categItemBox .cardImg{
width: 400px;
border-radius: 20px;
overflow: hidden;
position: relative;
height: 340px;
float: right;
}
.cardImg .categName{
    position: absolute;
    left:30px;
    top:30px;
    z-index: 1;
}
.categItemBox .card-body{
margin-right: 25px;
float: right;
padding: 0;;
width: 57%;
}
.rightSide .sensitizer{
    font-size: 0.6875em;
    background-color: #ebebeb;
    padding: 5px;
    margin-top:10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color:#3b3b3b;
    display: block;
}
.rightSide a i{
    color:#a0a4a7;
}
.reqBtn:hover{
    background-color: transparent;
    color:#be2318
}
.rightSide .price{
    display: block;
    float: none;
    margin-bottom: 5px;
}
.rightSide .card-title{
    font-size: 1.625em;
}
.categItemBox p{
    font-size:.875em;
    color:#3b3b3b;
    margin-bottom: 20px;
    line-height: 1.5;
}
.gradiantText{
    font-size: 1.125em;
    color:#3b3b3b;
    margin-bottom: 20px;
}
.gradiantList li{
    margin-bottom: 15px;
    color:#3b3b3b;
    font-size: 14px;
    font-family: avenir-heavy;
}
.moreCategTitle{
    font-size: 1.625em;
    margin-bottom: 30px;
    text-align: center;
}
.menuBody{
    padding-top:75px;
    padding-bottom: 65px;;
}
#menuTabs{
    margin-bottom: 32px;
}
#menuTabs li {
    display: inline-flex;
}
#menuTabs li a.active,#menuTabs li:hover a{
    border: 2px solid #bf261c;
    color:#be2318;
    transition: all .3s;
}
#menuTabs li a{
    align-self: center;
    width:150px;
    height: 43px;
    border-radius: 22px;
display: flex;
    justify-content: center;
    box-shadow: 3px 5px 10px rgba(66, 66, 66, .11);
    margin-left: 14px;
    transition: all .3s;
}
#menuTabs  h6{
    font-family: avenir-heavy;
align-self: center;
}
#menuTabs li a:focus,#menuTabs li:hover a{
    color:#bf261c
}

.reqModal .modalheader h5{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;

}
.modalheader .close{
  position: absolute;
  left:10px;
  top:10px;
}
.reqModal .modal-body{
    padding:30px
}
.modalItemBox{
    display: flex;
    justify-content: space-between;
}
.ModalItemImg{
    width:110px;
    height: 84px;
    margin-left:10px;
    border-radius: 20px;
    overflow: hidden;
}
.ModalItemImg img{
    width: inherit;
    object-fit: cover;
    height: 100%;;
}
.reqModal .modal-content{
    max-width: 550px;
}
.modalItemDetailsHeader h5{
    font-size:1em;
    float: right;
}
.modalItemDetailsHeader{
    margin-bottom: 5px;
}
.modalItemDetailsHeader .categName{
    float: left;
    padding:2px 5px;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{
    font-size: 1em;
    color: #949494;
    padding: 0 17px;
    align-self: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    position: relative;
    left: auto;
    margin:0;
    display: flex;
    align-self: center;
    margin-top:10px
}
.modalItemDetails{
    width: 200px;
}
.modalItemDetails p{
    font-size: 12px;
    color:#a8a8a8
}
.additionitem{
    width:95px;
    height:30px;
    overflow: hidden;
    border-radius: 15px;
    border:2px solid #e1e1e1;
    margin: 0;
    align-self: center;
}
.additionitem button,.additionitem input{
    float: right;
    width: 33.3%;
    margin: 0;
    height: 100%;
    border: 0;
    transition: all .5s;
    border-radius: 0;
    padding: 0;
    text-align: center;
    color:#a0a4a7;
    BORDER:0;
    font-size: 9px; 
}
.additionitem input{
    font-size:.875em;
    font-family: avenir-heavy;
    color:black
}
.additionitem button:focus,.additionitem input:focus{
    box-shadow: none;
    outline: none;
}
.additionitem button.btnminus{
    border-radius: 15px 0 0 15px;
}
.additionitem button.btnplus{
    border-radius: 0 15px 15px 0;
}

.additionitem button:hover{
background-color: #bf261c;
COLOR:white;
transition: all .5s;
}
.ensureReq{
width: 126px;
height: 45px;
background-color: #bf261c;
color:white;
margin:auto;
margin: top 16px;transition: all .3s;
border: 1px solid #bf261c;
border-radius: 15px;
margin-top: 15px;
}
.ensureReq:hover{
background-color: transparent;
color: #be2318;
}
.select2-container{
    width: 100% !important;
    background-color: #ebebeb;
    border-radius: 25px;
    margin-top:15px;
    margin-bottom: 15px;
    height: 50px;
}
.select2-container--default .select2-selection--single{
    background-color: #ebebeb;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    height: 100%;
}
.select2-selection{
    width: 100% ;
    height: 100%;
    background-color: transparent;
    border:0 !important
}

.QRbody{
    background-color: #f9fafc;
    padding-top:62px;
    padding-bottom: 100px;
}
.whiteBox{
    background-color: #fff;
    border-radius: 20px;
    box-shadow:13px 7px 59px rgba(216,216,216,.23);
  
}
.qrboxContainer{
    padding:65px;
}
.QRBox{
border:2px dashed #d7d7d7;
border-radius: 20px;
padding:82px 30px 70px;
}
.qrImg{
    width:72px;
    margin:auto;
    margin-bottom: 25px;
}
.QRBox h6{
    font-size:1.625em;
    margin-bottom: 17px;
}
.QRBox P{
    font-size: 1.125em;
    color:#919191;
    margin-bottom: 28px;
}
.selectiionBoxContainer{
    background-color: #ebebeb;
    border-radius: 25px;
    height: 200px;
    padding:20px
}
.selectionTag{
    font-size: .875em;
    background-color:#9a9a9a;
    border-radius: 14px;
    padding:5px 10px;
    display: inline-flex;
    margin-left:10px;
}
.selectionTag span{
    float: right;
    align-self: center;
}
.selectionTag .selectClose{
    margin-right:5px;
    font-size: .85em;
    color:black;
    display: inline-block;
    float: left;
    opacity: 1;
    text-shadow: none;
    align-self: center;
}
.ordersBodySec{
    padding:60px 0;

}
.ordersTable th h5{
    font-size:1.125em;
}
.orderItemImg{
    width:100px;
    border-radius: 20px;
    overflow: hidden;
    margin-left:20px;
    display: inline-block;
}
.ordeNameQuantity h5{
    font-size: 1em;
}
.ordeNameQuantity p{
    font-size: 0.75em;
    color:#a8a8a8;
    margin-top:10px
}
.ordersTable{
    width: 100%;;
    border-collapse:separate; 
    border-spacing: 0 9px; 
}
.ordersTable thead th{
padding: 10px 8px;
margin-bottom: 20px;
}
.ordersTable tbody tr{
    background-color: #f4f4f4;
}
.ordersBox{
    padding: 40px;
    height: 600px;
}
.ordersTable tbody tr td{
    padding:8px;
    border-top:2px solid #e1e1e1;
    border-bottom:2px solid #e1e1e1;
}
.ordersTable tbody tr td:first-child{
    border-right:2px solid #e1e1e1;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}
.ordersTable tbody tr td:last-child{
    border-left:2px solid #e1e1e1;
    overflow: hidden;
    border-radius:  20px 0 0 20px ;
}
.tableOrderDetails{
    display: flex;
    width: 100%;;
}
.ordeNameQuantity{
    align-self: center;
}
.ordersTable tbody td h6{
    font-size: .875em;
    color:#bf261c
}
.totalOrderDetails{
    width:40%;
    float:left;
    padding:0 8px
}
.totalOrderDetails li{
    font-size: .875em;
    padding-top:12px
}
.totalOrderDetails li span{
    color:#be2318;
}
.totalOrderDetails li.total{
    border-top: 1px solid #ebebeb;
}
.totalOrderDetails li.total h6{
    font-size: 1em;
}
.totalOrderDetails li.total h5{
    color:#be2318;
    font-size: 1em;
}
.payWaysForm{
    height: 100%;
    margin: 0;
    position: relative;
}
.payWaysForm h5{
font-size: 1.375em;
margin-bottom: 15px;
text-align: center;
}
.paywaysChoose{
    margin:auto;
    margin-bottom: 29px;

}
.paywayCheckContainer{
    
    position: relative;
    cursor: pointer;
    user-select: none;
}
.checkContainer{
    display: inline-flex;
    background-color: white;
    border:2px solid #ebebeb;
    padding:10px 12px;
    border-radius: 25px;
    margin-left:10px;

    text-align: center;
    justify-content: center;
}
.paywayCheckContainer:last-child .checkContainer{
    margin-left: 0;
}
.checkContainer h5{
    align-self: center;
    margin-bottom: 0;;
    font-size: 1em;
}
.paywayBox{
    padding:35px 15px;
    height: 600px;
}
input:checked ~ .checkContainer {
    color:#be2318;
    border:2px solid #be2318;
    
}
.payWaysForm h4{
font-size: 1.125em;
margin-bottom: 11px;
text-align: center;
}
.payWaysForm .form-group{
    width: 100%;
}
.payWaysForm .form-control{
    width: 100%;
    height: 50px;
    background-color: #ebebeb;
    border-radius: 25px;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}
.payWaysForm .form-control::placeholder{
    font-size: 1em;
    color:#949494;
}
.payWaysForm .form-group:first-of-type {
    grid-area: name;
}

.payWaysForm .form-group:nth-of-type(2) {
    grid-area: number;
}

.payWaysForm .form-group:nth-of-type(3) {
    grid-area: expiration;
}

.payWaysForm .form-group:nth-of-type(4) {
    grid-area: security;
}
.orderFormFooter{
    display: inline-flex;
    justify-content: center;
}
.orderFormFooter .reqBtn{
margin-right:15px
}
.orderFormFooter{
    margin:auto;
    display: flex;
    align-self: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.backBtn{
    background-color: black;
    color:white;
    border: 1px solid #000;
}
.backBtn:hover{
    background-color: transparent;
    color:black
}
.Make-ordersTable thead th{
    color:#a9a9a9;
    font-size: .875em;
    padding:7px 0;
}
.Make-ordersTable thead tr{
    border-bottom: 1px solid #a9a9a9;
}
.Make-ordersTable tbody td {
    padding:23px 0
}
.deletebtn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ebebeb;
    display: flex;
    border:0;
    justify-content: center;
}
.deletebtn span{
    align-self: center;
}
.orderItemDetails .orderItemImg{
    width: 102px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 17px;
    height: 90px;
}
.orderItemDetails .orderItemImg img{
    width: inherit;
    height: 100%;
    object-fit: cover;
}
.addNotes{
    font-size: 0.6875em;
    color:white;
    font-family: avenir-medium;
    background-color: #515151;
    width: 88px;
    height: 20px;
    border-radius: 10px;
    margin-top:10px;
}
.addNotes:hover{
    background-color: #bf261c;
    color:white
}
.orderItemDesc{
    max-width: 250px;
}
.orderItemDesc h5{
    font-size: 1em;margin-bottom: 5px;
}
.orderItemDesc p{
font-size: 0.75em;
color:#a8a8a8
}
.paywayBox .totalOrderDetails{
    width: 100%;
    float: none;
}
.totalOrderDetailsBox{
    height: auto;
}
.ensureBtn{
    width: 100%;
    margin-top: 24px;
}
.tablePrice{
    color:#be2318
}
.successBox{
    border:0;
    padding:0
}
.googlemap object{
    width:100%;
    height: 245px;
}
.contactUsFormBox .googlemap{
    margin:25px 0
}
.contactUsFormBox{
    padding:57px 0
}
.contactUsFormBox .form-control{
    height: 50px;
    background-color: #ebebeb;
    border-radius: 25px;
}
.contactUsFormBox .form-group{
    position: relative;
    margin-bottom: 25px;
}
.contactUsFormBox .form-control::placeholder{
    font-size:1em;
    color:#949494;
}
.contactUsFormBox h4{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.375em;
}
.contactUs{
    padding:60px 0
}
#menuFilter{
    width: 100%;;
}
@media(max-width:850px){
    body{
        font-size: 12px;
    }
    .categItemBox .cardImg{
        width:100%;
        margin-bottom:50px

    }
    .categItemBox{
        height: auto;
    }
    .categItemBox .card-body{
        width: 100%;
        margin-right: 0;
    }
    .topHeaderContact li{
        padding:0 2px
    }.topSocialIcons {
        margin-top:10px;
        float: none !important;
    }
    .footerLogo{
        margin:auto;
    }

.navbar-toggler{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none !important;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: none;
    outline: none !important;
    width: 24px;
    height: 24px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-toggler span {
    display: block;
    position: absolute;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    top: 10px;
    height: 3px;
    min-height: 3px;
    width: 100%;
  }
  .navbar-toggler span::before, .navbar-toggler span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    min-height: 3px;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
  }
  .navbar-toggler span::before {
    top: -8px;
  }
  .navbar-toggler span::after {
    bottom: -8px;
  }
  .navbar-toggler-left span:before {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: auto;
    right: 0px;
    width: 50%;
  }
  .navbar-toggler-left span:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: auto;
    right: 0px;
    width: 75%;
  }

  .navbar-toggler span:before {
    left: 0px;
    right: auto;
    width: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-toggler span:after {
    left: 0px;
    right: auto;
    width: 75%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-toggler span {
    background-color: #be2318;
  }
  .navbar-toggler span::before, .navbar-toggler span::after {
    background-color: #be2318;
  }
  .navbar-toggler:hover span {
    background-color: #3699FF;
  }
  .navbar-toggler:hover span::before, .navbar-toggler:hover span::after {
    background-color: #3699FF;
  }
  .clientBox{
    width: 100%;;
  }
  .stepBox{
    margin:auto;
    margin-bottom: 20px;
  }
  .connectBtnContainer{
    justify-content: right;
    margin-top: 20px;
  }
  .clientsOpinionSlider .owl-nav{
    top: auto;
    bottom: -5%;
  }
  .clientsOpinionSlider .owl-nav button.owl-next{
    right: 35%;;
  }
  .clientsOpinionSlider .owl-nav button{
    right: 25%
  }
  .myListBtn{
    margin-top:20px;
    width: 100%;
  }
  .categBox{
    height: 165px;
  }
  .categBox .cardImg{
    max-height: 145px;
    height: 145px;
    overflow: hidden;
  }
  .categSec{
    margin-bottom: 30px;;
    overflow: hidden;
  }
  .navbar-collapse .nav-item .nav-link:before{
    display: none;
  }
}